* {
  box-sizing: content-box;
}
body {
  margin: 0;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #00adb5;
}
/* NAVBAR */

.link-button {
  display: inline-block;
  margin: 12px 20px 0 30px;
  font-size: 1.3rem;
  color: #eeeeee;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 50px;
  background-color: #222831;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-links ul li {
  border-left: 2px solid #00adb5;
  padding-left: 4px;
}

ul {
  margin: 0;
}

.logo {
  margin-top: 7px;
  font-size: 2rem;
  color: #eeeeee;
  text-align: center;
}

.logo:hover {
  cursor: pointer;
}

/*  NAVBAR END */

main {
  height: 100vh;
  background-color: #f5f5f5;
}

footer {
  display: flex;
  justify-content: center;
}

/* INDEX.HTML */

.main-page {
  padding-top: 5rem;
}

.landing-page,
.stack-container {
  width: 50%;
  text-align: center;
  margin: 20px auto 0 auto;
}

.landing-page h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
  max-width: 50vw;
}

#more-info {
  margin-top: 30px;
  line-height: 0.3;
  font-size: 1.2rem;
  font-family: Cascadia Code, monospace;
}

.stack-container ul {
  list-style-type: none;
  padding: 0;
}
.stack-container ul li {
  margin: 10px 0;
}
.stack-container h2 {
  margin-top: 30px;
}

.lang-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-bottom: 25px;
}
.progress-container {
  display: flex;
  justify-content: center;
}
.progress {
  margin-top: 19px;
  width: 30%;
  margin-left: 40px;
}
.progress-bar-color {
  background-color: #00adb5 !important;
}

/*FOOTER*/
.social-icons a {
  text-decoration: none;
}
