@media (max-width: 414px) {
  .nav-bar {
    height: 20%;
    overflow: auto;
  }
  .nav-links ul {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
  }
  .nav-links ul li {
    font-size: 1rem;
    margin-right: 3rem;
  }

  .landing-page-name {
    font-size: 2rem !important;
  }
  .landing-page-sub-info {
    font-size: 1.5rem !important;
  }
  .stack-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.2rem;
    height: 50%;
    margin-right: 30vw;
  }

  .a;
}
