@media (max-width: 414px) {
  body {
    overflow: auto;
    width: 100vw;
    height: 100%;
  }
  .nav-bar {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nav-links ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .portfolio-main {
    overflow: auto;
    padding-top: 0;
    width: 100%;
    height: 80%;
  }
  .portfolio-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .portfolio-img {
    width: 100%;
    height: 100%;
  }

  .portfolio-info-container {
    display: flex;
    flex-direction: column;
  }
  .icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .icons-container {
    margin-left: 4rem;
  }

  .portfolio-info {
    width: fit-content;
    height: fit-content;
    margin-bottom: 1rem;
  }

  .python-icon {
    margin: auto;
  }
}
