.portfolio-main {
  border: 1px solid black;
  width: 100vw;
  height: 90vh;
  margin: auto;
  padding-top: 3rem;
}
.portfolio-container {
  width: 70vw;
  height: 34%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #00adb5;
}
.portfolio-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.portfolio-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}

.portfolio-container img {
  height: 80%;
  margin: auto;
}

.icons-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  grid-row: 1 / span 2;
}
.icons-container img {
  width: 50%;
  height: 40%;

  /* margin: 1.5rem; */
}

.portfolio-info {
  margin-top: -2.5rem;
  grid-column: 2 / span 2;
  grid-row: 2 span 2;
  font-size: 1.3rem;
  width: 60%;

  /* font-size: 1.5rem; */
}
