* {
  box-sizing: content-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

.underline {
  /* text-decoration: underline; */
  text-decoration-color: #00adb5;
  border-bottom: 0.1rem solid #00adb5;
}
/* NAVBAR */

.border-btm {
  border-bottom: 2px solid #00adb5;
}

.link-button {
  display: inline-block;
  margin: 12px 20px 0 30px;
  font-size: 1.3rem;
  color: #eeeeee;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* height: 50px; */
  background-color: #222831;
  margin-bottom: 0;
  top: 0;
  width: 100%;
}

.nav-links ul li {
  border-left: 2px solid #00adb5;
  padding-left: 4px;
}

ul {
  margin: 0;
}

.logo {
  margin-top: 7px;
  font-size: 2rem;
  color: #eeeeee;
  text-align: center;
}

.logo:hover {
  cursor: pointer;
}

/*  NAVBAR END */

main {
  height: 100vh;
  background-color: #f5f5f5;
}

footer {
  background-color: #222831;
  display: flex;
  justify-content: center;
}
.footer-content p {
  color: #eeeeee;
}

.social-icons a {
  text-decoration: none;
  margin: 0.6rem;
}
